<!-- <div ng-include="'components/navbar/navbar.html'"></div> -->

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Angel Insights</h1>
    <p class="lead">Gain valuable insights into Angel List's job statistics</p>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12" id="parentContainer">
      <br>
      <!-- add back in when secure -->
      <!-- <button class="btn btn-primary" ng-click="addAllJobs()">addAllJobs()</button> -->
      <div class="center">
        <p>Learn the right skills! Choose a role to see all the skills that Angel List companies want.</p>
        <p>Over 23,000 jobs are analyzed and the data set is updated every week.</p>
        <select class="btn btn-primary" ng-model="selectedRole" ng-options="role.name for role in roles"></select>
        <br>
        <br>
        <button class="btn btn-primary" ng-click="getSkills(selectedRole.name)" ng-disabled="!selectedRole || loading">Analyze Job Postings</button>
        <br>
        <br>
        <div ng-show="loading === true">
          <i class="fa fa-spinner fa-spin fa-5x"></i>
        </div>
      </div>
    </div>

    <div class="col-xs-12" ng-show="loading === false" >
      <hr>
      <p ng-show="tooSmall">*Chart minimum width set to 600px to maintain visability.</p>
      <div ng-show="loading === false" id="chartContainer"></div>
      <hr>
      <table class="table">
        <tr>
          <th>#</th>
          <th>Skill</th>
          <th>Number</th>
        </tr>
        <!-- <tr ng-repeat="skill in skillsArray | orderBy:'value':true track by $index" ng-class="{'table-even': $index % 2 === 0, 'table-odd': $index % 2 !== 0}"> -->
        <tr ng-repeat="skill in skillsArray | orderBy:'value':true | limitTo:limit " ng-class="{'table-even': $index % 2 === 0, 'table-odd': $index % 2 !== 0}">
          <td>{{$index + 1}}</td>
          <td>{{skill.name}} </td>
          <td>{{skill.value}}</td>
        </tr>
      </table>
      <br>
      <div class="col-xs-6 center">
        <button class="btn btn-primary" ng-click="increaseLimit()" ng-disabled="limitReached">See 50 more</button>
      </div>
      <div class="col-xs-6 center">
        <button class="btn btn-primary" ng-click="seeAll()" ng-disabled="limitReached">See all</button>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <p>
      Built by Andrew Scheuermann<br>
      <a href="mailto:andrewscheuermann@gmail.com">Gmail</a> |
      <a href="https://github.com/andrewscheuermann">Github</a> |
      <a href="https://twitter.com/A_W_Scheuermann">Twitter</a> |
      <a href="https://www.linkedin.com/in/scheuermann">LinkedIn</a>
    </p>
  </div>
</footer>
