<!-- <div ng-include="'components/navbar/navbar.html'"></div> -->

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Welcome to Angel Insights <sup>*beta</sup></h1>
    <p class="lead">Gain valuable insights into Angel List's job statistics</p>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <br>
      <button class="btn btn-primary" ng-click="addAllJobs()">addAllJobs()</button>
      <br>
      <br>

      <p>Learn the right skills! Choose a role to see all of skills that Angel List companies want!</p>
      <select ng-model="selectedRole" ng-options="role.name for role in roles"></select>
      <br>
      <br>

      <button class="btn btn-primary" ng-click="getSkills(selectedRole.name)" ng-disabled="!selectedRole || loading">Analyze Job Postings</button>
      <br>
      <div ng-show="loading === true">
        <i class="fa fa-spinner fa-spin fa-5x"></i>
        <p>Please wait about 30 seconds. 23,000 Angel List job postings being analyzed for {{selectedRole.name}} positions.</p>
      </div>

      <div ng-show="loading === false">
        <hr>
        <div id="chartContainer" style="width: 1000px; height: 400px; margin: 0 auto"></div>
        <hr>
        <table>
          <tr>
            <th>Skill</th>
            <th>Number</th>
          </tr>
          <tr ng-repeat="skill in skillsArray | orderBy:'value':true">
            <td>{{skill.name}} </td>
            <td>{{skill.value}}</td>
          </tr>
        </table>
      </div>




    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <p>
      Built by Andrew Scheuermann<br>
      <a href="mailto:andrewscheuermann@gmail.com">Gmail</a> |
      <a href="https://github.com/andrewscheuermann">Github</a> |
      <a href="https://twitter.com/A_W_Scheuermann">Twitter</a> |
      <a href="https://www.linkedin.com/in/scheuermann">LinkedIn</a>
    </p>
  </div>
</footer>
